//GLOBAL.LESS

 #slider div b {
   display: block;
   font-weight: bold;
   color: #14ADE5;
   font-size: 20px;
   text-align: center;
   margin: 10px;
   padding: 100px 10px;
   box-shadow: 0 1px #EBEBEB;
   background: #fff;
   border-radius: 3px;
   border: 1px solid;
   border-color: #E5E5E5 #D3D3D3 #B9C1C6;
 }

 .swipe {
   overflow: hidden;
   visibility: hidden;
   position: relative;
 }

 .swipe-wrap {
   overflow: hidden;
   position: relative;
 }

 .swipe-wrap > div {
   float: left;
   width: 100%;
   position: relative;
 }

 #footer a {
   margin: 0 20px;
 }
 /*contact form styles*/

 label,
 button {
   font-family: 'Montserrat', sans-serif;
 }

 /* Swipe 2 required styles */



 #home a {
   text-decoration: underline;
 }

 #home img {
   max-width: 60px;
   /*    padding: 5px;
    margin:5px 10px 5px 0;
    border-width:1px;
    border-style:solid;
    border-color:#ccc;*/
 }

 #home ul {
   margin-bottom: 20px;
 }

 #igw_gallery_content img {
   padding: 5px;
   margin: 5px 10px 5px 0;
   border-width: 1px;
   border-style: solid;
   border-color: #ccc;
 }

 div.clear {
   clear: both;
 }

 .popup-wrapper {
   position: relative;
   width: 72px;
   height: 72px;
   padding: 5px;
   margin: 5px 10px 5px 0;
   border-width: 1px;
   border-style: solid;
   border-color: #ccc;
   display: block;
   float: left;
 }

 .trigger {
   position: absolute;
   float: left;
 }

 .popup {
   position: absolute;
   display: none;
   z-index: 50;
   border-collapse: collapse;
   background-color: #fff;
   padding: 5px;
   width: 65px;
   font-size: 10px;
   text-align: center;
 }

 .app-wrapper,
 #igw_gallery_content {
   max-width: 500px;
 }

 div#projects {
   margin-top: 100px;
 }

 img.coverimage {
     transition: all .35s ease-in-out;
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
 }

 img.coverimage:hover {
   -webkit-filter: none;
   filter: none;
 }


h2 {
   color: #333;
 }

 /* This overrides the default popup behavior so it doesn't slide in from the top*/
 .modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* This fixes the shift that happens when the modal window is popped.*/
body, .navbar-fixed-top, .navbar-fixed-bottom {
  margin-right: 0 !important;
}

#projects a > img {
	width: 100%;
}


 .single-projects {
   margin-bottom: 35px;
 }