//TYPUGRAPHY.LESS

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
}

.overlay {
	text-decoration: none;
	text-align: center;
	color: white;

	//override bootstrap default styling
	&:hover, &:focus {
		text-decoration: none;
		color: white;
	}

	.project-title {
		font-size: 18px;
	}
}